.Weather-info {
  border: 2px solid rgb(255, 255, 255);
  padding: 30px;
  margin: 20px;
}
#Titles {
  align-items: center;
  text-align: center;
  padding: 20px;
}
.col-md-3 {
  padding: 15px;
}
.row {
  padding: 25px;
}

#search-btn {
  margin-top: -15px;
}
.info-text {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
h5 {
  font-size: 15px;
}
#cityname {
  font-style: italic;
  font-weight: lighter;
  font-size: 45px;
  margin-bottom: 20px;
}
#temp {
  font-size: 35px;
  font-weight: lighter;
  padding: 20px;
  margin: 5px;
}
a {
  color: #ed8c72;
}
